@font-face {
    font-family: Intro;
    src: url(/fonts/Intro-Thin.otf)
}
@font-face {
    font-family: Intro-Light;
    src: url(/fonts/Intro-Light.otf)
}
/* ----------------------------------------------------

        All general style sheet section

-------------------------------------------------------*/
body {
    font-family: Intro-Light;
    font-size: 17px;
}
/* Default padding remover */
.remover {
    padding: 0;
}
.dark-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
}
/* ---------------------------------------------------

            Header Section style started  
            
------------------------------------------------------ */

/* Navigation menu section started */
.main-nav-bg {
    background: #444;
}
.navbar-collapse ul li {
    padding: 0 8px;
}
.navbar-nav .nav-item .nav-link {
    color: #f48024;
}
.navbar-nav .nav-item .nav-link.active {
    color: #fff;
}

/* Preview image section started */
.www {
    width: 100%;
    height: 100vh;
    background: #f48024;
    padding: 0;
}
/* --------------------------------------------------

            About us style section started

----------------------------------------------------- */
.profile-img {
    padding: 55px 0;
}
.profile-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px 2px #c1c1c1;
}
.profile-img h1 {
    font-size: 34px;
    font-weight: 300;
    color: #888;
    margin-top: 21px;
    margin-bottom: 13px;
}
.profile-img p {
    font-size: 21px;
    font-weight: 300;
    color: #888;
}
.main-about-us-hero {
    background-color: #c1c1c1;
    padding: 89px 13px;
    -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
            clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
}





/* ---------------------------------------------------

            Footer Style Section Started

------------------------------------------------------ */

.footer-main-wrapper {
    background: #333;
    padding-top: 89px;
}
.footer-adjust ul {
    list-style-type: none;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 28px;
}
.footer-adjust ul li {
    padding-bottom: 5px;
}
.footer-adjust ul li a {
    text-decoration: none;
    color: #c1c1c1;
    transition: all ease-in-out 0.3s;
}
.footer-adjust ul li a:hover {
    color: #f48024;
    transition: all ease-in-out 0.3s;
}
.footer-address-wrapper ul {
    list-style-type: none;
    font-size: 18px;
    letter-spacing: 1px;
}
.footer-address-wrapper ul li {
    position: relative;
    padding-bottom: 5px;
    padding-left: 13px;
    color: #c1c1c1;
}
.footer-address-wrapper ul li i {
    position: absolute;
    font-size: 20px;
    left: -40px;
    top: 3px;
}
/* Footer bottom social link style sheet Started */
.footer-bottom {
    background: #444;
}
.footer-social-link {
    padding: 50px 8px;
    text-align: center;
    transition: all ease-in-out 0.5s;
}
.footer-social-link > div> i {
    font-size: 18px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 50%;
    margin-right: 5px;
    border-left: 1px solid #fff;
    transition: all ease-in-out 0.5s;
}
.footer-social-link {
    border-left: 1px solid #c1c1c1;
    color: #c1c1c1;
}
.footer-social-link:last-child {
    border-right: 1px solid #c1c1c1;
}
/* Social Media hover section design started */
.footer-social-link:hover .footer-social-link > div> i {
    border-left: 1px solid #000;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff; 
}
.footer-social-link:nth-child(1):hover {
    color: #fff;
    background: #3b5998;
    transition: all ease-in-out 0.5s;
}
.footer-social-link:nth-child(2):hover {
    color: #fff;
    background: #00acee;
    transition: all ease-in-out 0.5s;
}
.footer-social-link:nth-child(3):hover {
    color: #fff;
    background: #333;
    transition: all ease-in-out 0.5s;
}
.footer-social-link:nth-child(4):hover {
    color: #fff;
    background: #f48024;
    transition: all ease-in-out 0.5s;
}
.footer-social-link:nth-child(5):hover {
    color: #fff;
    background: #0077B5;
    transition: all ease-in-out 0.5s;
}