@font-face {
    font-family: Intro;
    src: url(/fonts/Intro-Thin.otf)
}
@font-face {
    font-family: Intro-Light;
    src: url(/fonts/Intro-Light.otf)
}
body {
    font-family: Intro-Light;
    font-size: 17px;
}
/* ---------------------------------------------------

            Footer Style Section Started

------------------------------------------------------ */

.footer-main-wrapper {
    background: #c1c1c1;
    padding: 89px 0;
}
.aa {
    border: 1px solid black;
}
.footer-adjust ul {
    list-style-type: none;
    font-size: 18px;
    letter-spacing: 1px;
}
.footer-adjust ul li {
    padding-bottom: 5px;
}
.footer-adjust ul li a {
    text-decoration: none;
    color: #000;
}