@font-face {
    font-family: Intro;
    src: url(/fonts/Intro-Thin.otf)
}
@font-face {
    font-family: Intro-Light;
    src: url(/fonts/Intro-Light.otf)
}
body {
    font-family: Intro-Light;
    font-size: 21px;
}
/* ---------------------------------------------------

            Footer Style Section Started

------------------------------------------------------ */

.footer-main-wrapper {
    background: blue;
    padding: 89px 0;
}
.aa {
    border: 1px solid black;
}